
@{
    ViewBag.Title = "EmployeePage";
}

<h2>EmployeePage</h2>

<div class="form-group">
    <div class="col-md-offset-2 col-md-12">
        <a href="/EmployeeTicket/Create">Create new</a> |        
        <a href="/EmployeeTicket/Index">View existing</a>
    </div>

</div>
